/*
 *= require_tree .
 *= require_self
 */

input.pure-admin-color-picker.minicolors-input {
  height: auto;
  width: 6em;
  margin-left: 3.5em;
}

.minicolors .minicolors-swatch {
  left: 0;
  top: 0;
  width: 3em;
  height: 2.4em;
  cursor: pointer;
}
